In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("data/Bangladesh_property_prices.csv")

In [6]:
df

,Unnamed: 0.1,Unnamed: 0,Location,Price,Type,No. Beds,No. Baths,Area,Latitude,Longitude,Region,Sub-region
0,0,0.0,"Sector 10, Uttara, Dhaka",7500000,Apartment,3.0,3.0,1300.0,23.86846,90.39280,Uttara,Sector 10
1,1,1.0,"Section 11, Mirpur, Dhaka",7280000,Apartment,4.0,4.0,1456.0,23.81223,90.35967,Mirpur,Section 11
2,2,2.0,"Chowdhuripara, Khilgaon, Dhaka",13000000,Apartment,3.0,3.0,1550.0,23.75349,90.42469,Khilgaon,Chowdhuripara
3,3,3.0,"Road No 4, Banani, Dhaka",37000000,Apartment,3.0,3.0,2669.0,23.78855,90.40081,Banani,Road No 4
4,4,4.0,"South Banasree Project, Banasree, Dhaka",3600000,Apartment,2.0,2.0,835.0,23.76354,90.43180,Banasree,South Banasree Project
...,...,...,...,...,...,...,...,...,...,...,...,...
4699,4699,4747.0,"Middle Monipur, Mirpur, Dhaka",4950000,Apartment,3.0,2.0,1100.0,23.81223,90.35967,Mirpur,Middle Monipur
4700,4700,4748.0,"Middle Monipur, Mirpur, Dhaka",4950000,Apartment,3.0,2.0,1100.0,23.81223,90.35967,Mirpur,Middle Monipur
4701,4701,4749.0,"Middle Monipur, Mirpur, Dhaka",4950000,Apartment,3.0,2.0,1100.0,23.81223,90.35967,Mirpur,Middle Monipur
4702,4702,4750.0,"Middle Monipur, Mirpur, Dhaka",4950000,Apartment,3.0,2.0,1100.0,23.81223,90.35967,Mirpur,Middle Monipur
4703,4703,4751.0,"Middle Monipur, Mirpur, Dhaka",4950000,Apartment,3.0,2.0,1100.0,23.81223,90.35967,Mirpur,Middle Monipur